<md-subheader>{{activity.activity.nombre}} - Resumen</md-subheader>

<div layout-align="center" layout="column">
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">{{activity.activity.nombre}}</span>
				<!--span class="md-subhead">.</span-->
			</md-card-header-text>
		</md-card-header>
		<md-card-content layout-align="center center">
			<p layout-padding>
				{{activity.activity.descripcion}}
			</p>
			<p layout-padding>
				<div ng-if="activity.activity.inicioReal">
					Iniciada el <strong>{{activity.activity.inicioReal | date: 'longDate'}}</strong>
					<br>
				</div>
				<div ng-if="activity.activity.finReal">
					Finalizada el <strong>{{activity.activity.finReal | date: 'longDate'}}</strong>
					<br>
					Artefacto depositado: <strong>{{activity.activity.artefacto}}</strong>
				</div>
			</p>
			<p>
				<h2 class="md-title">Tareas personales de esta actividad</h2>
				<table class="mdl-data-table">
				  <thead>
				    <tr>
					  <th class="mdl-data-table__cell--non-numeric">Nombre</th>
					  <th class="mdl-data-table__cell--non-numeric">Descripcion</th>
					  <th class="mdl-data-table__cell--non-numeric">Tipo</th>
					  <th class="mdl-data-table__cell--non-numeric">Horas</th>
					  <th class="mdl-data-table__cell--non-numeric">Iniciada</th>
					  <th class="mdl-data-table__cell--non-numeric">Estado</th>
				    </tr>
				  </thead>
				  <tbody>
				  <tr ng-show="activity.tareas" ng-repeat="tarea in activity.tareas" ng-disabled="tarea.hecho">
						<td class="mdl-data-table__cell--non-numeric">{{tarea.nombre}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{tarea.descripcion}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{activity.parseTipo(tarea.tipo)}}</td>
						<td class="mdl-data-table__cell--non-numeric">
							<md-input-container ng-if="!tarea.hecho">
								<label>Horas</label>
								<input ng-change="activity.updateHours(tarea)" required min="0" ng-model="tarea.horas" type="number">
							</md-input-container>
							<span ng-if="tarea.hecho">{{tarea.horas}}</span>
						</td>
						<td class="mdl-data-table__cell--non-numeric">{{tarea.fecha | date: 'shortDate'}}</td>
						<td class="mdl-data-table__cell--non-numeric">
							<md-button class="md-raised" ng-click="activity.cerrarTarea(tarea)" ng-if="!tarea.hecho">Completar</md-button>
							<md-button class="md-raised" disabled="true" ng-if="tarea.hecho">Completada</md-button>
						</td>
					</tr>
				  <tr>
					<td class="mdl-data-table__cell--non-numeric">
						<md-input-container>
							<label>Nombre</label>
							<input required ng-model="activity.newTarea.nombre">
						</md-input-container>
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						<md-input-container>
							<label>Descripción</label>
							<input required ng-model="activity.newTarea.descripcion">
						</md-input-container>
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						<md-input-container>
							<label>Tipo</label>
							<md-select ng-model="activity.newTarea.tipo">
								<md-option ng-value="1">
									Trato con usuarios
								</md-option>
								<md-option ng-value="2">
									Reuniones
								</md-option>
								<md-option ng-value="3">
									Lectura y revisión de documentación
								</md-option>
								<md-option ng-value="4">
									Elaboración de documentación
								</md-option>
								<md-option ng-value="5">
									Desarrollo y verificación de programas
								</md-option>
								<md-option ng-value="6">
									Formación y otros
								</md-option>
							</md-select>
						</md-input-container>
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						<md-input-container>
							<label>Horas</label>
							<input required min="0" ng-model="activity.newTarea.horas" type="number">
						</md-input-container>
					</td>
					<td class="mdl-data-table__cell--non-numeric">
						<md-button ng-click="activity.addTarea()" class="md-raised md-primary">Crear</md-button>
					</td>
					<td></td>
					</tr>
				  </tbody>
				</table>
			</p>
		</md-card-content>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ng-if="activity.canBeStarted()" ng-click="activity.setInitDate()">Iniciar Actividad</md-button>
			<md-button class="md-primary" ng-if="activity.canBeClosed()" ng-click="activity.setEndDate()">Finalizar Actividad</md-button>
		</md-card-actions>
	</md-card>
	<md-card ng-if="activity.activity.predecesoras.length > 0">
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">Actividades predecesoras</span>
				<!--span class="md-subhead">Estas son las actividades que preceden a.</span-->
			</md-card-header-text>
		</md-card-header>
		<md-card-content layout-align="center center">
			<lista-actividades actividades="activity.activity.predecesoras"></lista-actividades>
		</md-card-content>
	</md-card>
	<md-card ng-if="activity.canBeFinished() && !activity.activity.finReal">
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">Depositar artefacto</span>
				<span class="md-subhead">Introduzca una referencia al artefacto generado por la actividad.</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content layout-align="center center">
			<p>Artefacto actual: <strong>{{activity.activity.artefacto}}</strong></p>
			<br>
			<md-input-container class="md-block">
				<label>Artefacto</label>
				<input ng-model="activity.activity.artefacto">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ng-click="activity.depositArtifact()">Depositar</md-button>
		</md-card-actions>
	</md-card>
</div>
