<div layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span><a href="#">GTPROS</a></span>
			<span flex></span>
			<md-button ng-click="app.logout()">
				Cerrar sesión
			</md-button>
		</div>
	</md-toolbar>
	<div ncy-breadcrumb></div>
	<md-content>
		<section ui-view>Cargando...</section>
	</md-content>
</div>
