<div layout-align="center center">
	<md-card flex="80" flex-offset="10">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Tus periodos de vacaciones</span>
					<span class="md-subhead">No es posible modificar los periodos vacacionales que ya han sido creados.</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content layout-align="center center">
				<table class="mdl-data-table">
					<thead>
						<tr>
						<th class="mdl-data-table__cell--non-numeric">Fecha</th>
						<th>Semanas</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="periodo in calendar.vacaciones | orderBy: 'fecha'">
							<td class="mdl-data-table__cell--non-numeric">{{periodo.fecha | date: 'longDate'}}</td>
							<td>{{periodo.semanas}}</td>
						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>
	<form name="holidaysform" ng-submit="holidaysform.$valid && calendar.addVacaciones()">
		<md-card flex="80" flex-offset="10">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Elige un periodo de vacaciones</span>
					<span class="md-subhead">Tienes derecho a 4 semanas de vacaciones divididas en como máximo dos periodos de semanas completas.</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content layout-align="center center">
				<md-datepicker ng-model="calendar.inicio" md-placeholder="Fecha de Inicio" md-date-filter="calendar.soloLunes"></md-datepicker>
				<br>
				<md-input-container class="md-icon-float">
					<label>Duración</label>
					<input required ng-model="calendar.semanas" type="number" min="1" max="4" style="text-align:right"/>
				</md-input-container>
			</md-card-content>
		</md-card>

		<div flex-offset="10">
			<md-button type="submit" class="md-raised md-primary">Añadir</md-button>
		</div>
	</form>
</div>
