<div layout="row">
	<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
      <md-list>
		<md-list-item>
			<md-button ng-if="initProject.actividadSeleccionada" ng-click="initProject.seleccionarActividad(undefined)">Crear actividad</md-button>
			<md-button ng-if="!initProject.actividadSeleccionada" ng-click="initProject.seleccionarActividad(undefined)" md-no-ink class="md-primary">Crear actividad</md-button>
		</md-list-item>
        <md-list-item ng-repeat="actividad in initProject.proyecto.actividades">
			<md-button ng-if="actividad != initProject.actividadSeleccionada" ng-click="initProject.seleccionarActividad(actividad)">
				{{actividad.nombre}}
			</md-button>
			<md-button ng-if="actividad == initProject.actividadSeleccionada" ng-click="initProject.seleccionarActividad(actividad)" md-no-ink class="md-primary">
				{{actividad.nombre}}
			</md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex id="content" layout-margin>
		<div ng-if="!initProject.actividadSeleccionada" flex layout-margin>

			<p><span class="md-headline">Crea una nueva actividad</span></p>
			<md-content>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Nombre</label>
						<input required ng-model="initProject.nuevaActividad.nombre">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Categoría</label>
						<input min="0" max="6" required ng-model="initProject.nuevaActividad.categoria" type="number">
					</md-input-container>
				</div>
				<md-input-container layout="column" layout-align="start center">
					<label>Descripción</label>
					<textarea required ng-model="initProject.nuevaActividad.descripcion" columns="1" md-maxlength="200" rows="4"></textarea>
				</md-input-container>
				<div layout="row" layout-align="start center">
					<md-input-container flex="50">
						<label>Duración</label>
						<input required min="0" ng-model="initProject.nuevaActividad.duracionEstimada" type="number">
					</md-input-container>
				</div>

			<md-divider/>

			<div ng-if="(initProject.proyecto.actividades.length > 0)">
				<h2 class="md-title">Seleccione las actividades predecesoras</h2>
				<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
				  <thead>
				    <tr>
					  <th>Nombre</th>
					  <th>Inicio</th>
					  <th>Fin</th>
					  <th>Categoría</th>
					  <th>Predecesora</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="actividad in initProject.proyecto.actividades" data-mdl-data-table-selectable-name="initProject.nuevaActividad.predecesoras" data-mdl-data-table-selectable-value="actividad">
						<td class="mdl-data-table__cell--non-numeric">{{actividad.nombre}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{actividad.inicio | date: 'shortDate'}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{actividad.fin | date: 'shortDate'}}</td>
						<td>{{actividad.categoria}}</td>
						<td><md-checkbox class="md-primary" aria-label="predecesoras" ng-checked="initProject.exists(actividad)" ng-click="initProject.toggle(actividad)"></md-checkbox></td>
					</tr>
				  </tbody>
				</table>
			</div>
			<md-button ng-click="initProject.addActividad()" class="md-raised md-primary" layout="row" layout-align="end center">Crear Actividad</md-button>
			</md-content>
		</div>
		<div ng-if="initProject.actividadSeleccionada" layout-margin>
			<div layout="row" flex="100" layout-align="start center" layout-margin>
				<p flex="50"><span class="md-headline">{{initProject.actividadSeleccionada.nombre}}</span></p>
				<p><span class="md-headline">Categoria: {{initProject.actividadSeleccionada.categoria}}</span></p>
			</div>
			<md-divider></md-divider>
			<div layout-margin>
				<p><span class="md-headline">Descripción</span></p>
				<p>{{initProject.actividadSeleccionada.descripcion}}</p>
			</div>
			<md-divider></md-divider>
			<div layout="row" layout-align="start center" layout-margin>
				<p flex="50"><span class="md-headline">Fecha de inicio:&nbsp</span><span class="md-title">{{initProject.actividadSeleccionada.inicio | date: 'longDate'}}</span></p>
				<p><span class="md-headline">Fecha de fin:&nbsp</span><span class="md-title">{{initProject.actividadSeleccionada.fin | date: 'longDate'}}</span></p>
			</div>
			<div layout-align="start center" layout-margin>
				<p><span class="md-headline">Duración: </span>{{initProject.actividadSeleccionada.duracionEstimada}}</p>
			</div>
			<md-divider></md-divider>
		</div>
    </md-content>
</div>
