<table width="100%" class="mdl-data-table">
	<thead>
		<tr>
			<th style="width:10px"></th>
			<th style="width:20px">ID</th>
			<th class="mdl-data-table__cell--non-numeric">Fecha de Inicio</th>
			<th class="mdl-data-table__cell--non-numeric">Fecha de Fin</th>
			<th class="mdl-data-table__cell--non-numeric">Nombre</th>
			<th style="width:10px"class="mdl-data-table__cell--non-numeric">Detalles</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="actividad in listaActividades.actividades">
			<td>
				<i ng-if="actividad.inicio == actividad.fin" class="material-icons">bookmark</i>
			</td>
			<td>{{actividad.id}}</td>
			<td class="mdl-data-table__cell--non-numeric">{{actividad.inicio | date: 'longDate'}}</td>
			<td class="mdl-data-table__cell--non-numeric">{{actividad.fin | date: 'longDate'}}</td>
			<td class="mdl-data-table__cell--non-numeric">{{actividad.nombre}}</td>
			<td class="mdl-data-table__cell--non-numeric">
				<button class="mdl-button mdl-button--icon mdl-button--primary" ui-sref="app.user.project.activity({idA: actividad.id})">
					<i class="material-icons">zoom_in</i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
