
<div class="login" layout="column">
	<div layout-align="center center" layout="column" style="color: white;">
		<h1 class="md-display-2">GTPROS</h1>
		<h3 class="md-headline">Gestión de Tiempo en Proyectos de Software</h3>
	</div>
	<div layout="row" layout-xs="column">
		<md-card flex="70" flex-xs="100">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Bienvenido a GTPROS</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>
					GTPROS es un sistema para la gestión de
					actividades, tareas, y tiempos en proyectos de
					software. Puede comenzar su sesión introduciendo
					sus credenciales en el formulario de la derecha.
				</p>
				<p>Si aún no tiene una cuenta de usuario, <a href="mailto:pfuente@infor.uva.es">contacte con el administrador</a> del sistema.</p>
				<p>Consulte toda la información sobre la aplicación en los siguientes enlaces.</p>
			</md-card-content>
			<md-card-actions>
				<a href="/documentacion"><md-button>Documentación de implementación</md-button></a>
				<a href="/seguimiento"><md-button>Documento de seguimiento</md-button></a>
				<a href="/analisis"><md-button>Documento de análisis y diseño</md-button></a>
				<a href=""><md-button>Manual de usuario e instalación</md-button></a>
				<a href="https://tree.taiga.io/project/adlr-es-gtpros"><md-button>Herramienta de gestión del proyecto (Taiga.io)</md-button></a>
				<a href="https://gitlab.com/amantes_del_buey/GTPROS"><md-button>Repositorio git de código</md-button></a>
			</md-card-actions>
		</md-card>
		<md-card flex="30" flex-xs="100">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Accede a GTPROS</span>
				</md-card-title-text>
			</md-card-title>
			<form name="loginform" ng-submit="loginform.$valid && login.doLogin()" ng-hide="login.usuario">
				<md-card-content>
					<md-input-container class="md-icon-float md-block">
						<label>Usuario</label>
						<md-icon>person</md-icon>
						<input required ng-model="login.login" type="text"/>
					</md-input-container>
					<md-input-container class="md-icon-float md-block">
						<label>Contraseña</label>
						<md-icon>lock</md-icon>
						<input required ng-model="login.pass" type="password"/>
					</md-input-container>
				</md-card-content>
				<md-card-actions layout-align="end center" layout="row">
					<md-button type="submit">Acceder</md-button>
				</md-card-actions>
			</form>
			<div ng-show="login.usuario">
				<md-card-content>
					Ya has accedido como {{login.usuario.nombre}}.
					<span ng-show="login.usuario.isAdmin">Eres administrador.</span>
					<span ng-hide="login.usuario.isAdmin">Eres un usuario sin permisos de administrador.</span>
				</md-card-content>
				<md-card-actions layout-align="center center" layout="row">
					<md-button class="md-raised md-primary" ng-click="login.start()">Ir a la aplicación</md-button>
					<md-button class="md-raised" ng-click="login.logout()">Cerrar sesión</md-button>
				</md-card-actions>
			</div>
		</md-card>
	</div>
	<md-card>
		<md-card-content layout="column" layout-align="space-around stretch">
			<p>
				Práctica de la asignatura de <b>Planificación y Gestión de Proyectos</b>, con el profesor Pablo de la Fuente.
			</p>
			<p>
				Escuela de Ingeniería Informática, Universidad de Valladolid.
			</p>
			<p>
				Creado por:
			</p>
			<div layout="row" layout-align="space-between center" flex="100">
				<div>Adrián de la Rosa Martín</div>
				<div>Samuel Alfageme Sainz</div>
				<div>Jorge "Coke" Cuadrado Saez</div>
			</div>
		</md-card-content>
	</md-card>
</div>
