<div ng-if="!project.project.inicio">
  <ui-view />
</div>

<div ng-if="project.project.inicio">
	<md-subheader>{{project.project.nombre}}</md-subheader>
	<div layout-align="center" layout="column">
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Detalles del Proyecto</span>
					<span class="md-subhead">Descripción corta del proyecto.</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content layout-align="center center">
				<p layout-padding>
					Descargar el plan de proyecto...
				</p>
			</md-card-content>
			<md-card-actions layout-align="end center" layout="row">
				<md-button href="/project/{{project.project.id}}/plan">Descargar</md-button>
				<md-button ng-if="!project.project.finReal && project.activas.length === 0" ng-click="project.closeProject()">Cerrar el proyecto</md-button>
			</md-card-actions>
		</md-card>
		<md-card ng-if="!project.project.finReal">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Actividades activas</span>
					<span class="md-subhead">Consultar e introducir datos de trabajo en actividades abiertas.</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content layout-align="center center">
				<lista-actividades  ng-if="project.activas.length > 0" actividades="project.activas"></lista-actividades>
				<p ng-if="project.activas.length === 0" layout-padding>No quedan actividades por realizar. El proyecto puede ser cerrado.</p>
			</md-card-content>
		</md-card>
    	<ui-view />
        <md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Actividades cerradas</span>
					<span class="md-subhead">Consultar datos sobre actividades finalizadas</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content layout-align="center center">
				<lista-actividades ng-if="project.cerradas.length > 0" actividades="project.cerradas"></lista-actividades>
				<p ng-if="project.cerradas.length === 0" layout-padding>No hay ninguna actividad cerrada por el momento</p>
			</md-card-content>
		</md-card>
	</div>
</div>
