<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">
				<md-icon ng-if="tarjetaProyecto.proyecto.rol == 'JEFE_PROYECTO'">
					golf_course
					<md-tooltip>Eres jefe de proyecto.</md-tooltip>
				</md-icon>
				{{tarjetaProyecto.proyecto.nombre}}
			</span>
		</md-card-title-text>
	</md-card-title>
	<div ng-if="tarjetaProyecto.proyecto.inicio">
		<md-card-content>
			<p>
				<md-icon>person<md-tooltip>Rol en el proyecto</md-tooltip></md-icon>
				{{tarjetaProyecto.proyecto.rol}}
			</p>
			<p>
				<md-icon>signal_cellular_null<md-tooltip>Inicio estimado</md-tooltip></md-icon>
				{{tarjetaProyecto.proyecto.inicio | date: 'longDate'}}
			</p>
			<p>
				<md-icon>signal_cellular_4_bar<md-tooltip>Fin estimado</md-tooltip></md-icon>
				{{tarjetaProyecto.proyecto.fin | date: 'longDate'}}
			</p>
			<p ng-if="tarjetaProyecto.proyecto.inicioReal" >
				<md-icon>flight_takeoff<md-tooltip>Inicio real</md-tooltip></md-icon>
				{{tarjetaProyecto.proyecto.inicioReal | date: 'longDate'}}
			</p>
			<p ng-if="tarjetaProyecto.proyecto.finReal">
				<md-icon>flight_land<md-tooltip>Fin real</md-tooltip></md-icon>
				{{tarjetaProyecto.proyecto.finReal | date: 'longDate'}}
			</p>
		</md-card-content>
	</div>
	<div ng-if="!tarjetaProyecto.proyecto.inicio">
		<md-card-content>
			Este proyecto aún no ha sido configurado.
		</md-card-content>
	</div>
	<md-card-actions>
		<md-button class="md-raised md-primary" ui-sref="app.user.project({id: tarjetaProyecto.proyecto.idProyecto})">
			<span ng-show="tarjetaProyecto.proyecto.inicio">Detalle</span>
			<span ng-hide="tarjetaProyecto.proyecto.inicio">Configuración inicial</span>
		</md-button>
	</md-card-actions>
</md-card>
