<md-content class="md-padding">
  <md-tabs class="md-primary" md-dynamic-height md-border-bottom md-selected="0">
    <md-tab id="paso1">
      <md-tab-label>Configuración General</md-tab-label>
      <md-tab-body>
        <md-card ng-hide="initProject.jefe">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Atención</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Este proyecto no tiene configurado un jefe de proyecto. Consulta con el administrador del sistema.
			</md-card-content>
		</md-card>

		<form> <!--ng-submit="initProject.save()"-->
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">1. Seleccionar las fechas planificadas de inicio y fin.</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-datepicker ng-change="initProject.updateFechasActividad()" md-placeholder="Fecha de inicio" ng-model="initProject.proyecto.inicio" md-min-date="initProject.fechaActual" required></md-datepicker>
					<md-datepicker ng-change="initProject.updateFechasActividad()" md-placeholder="Fecha de fin" ng-model="initProject.proyecto.fin" md-min-date="initProject.proyecto.inicio" required></md-datepicker>
				</md-card-content>
			</md-card>

			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">2. Añadir los participantes en el proyecto.</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<div ng-show="initProject.jefe">
						El administrador configuró a <strong>{{initProject.jefe.nombre}}</strong>
						({{initProject.jefe.login}}) como responsable de este
						proyecto.
					</div>
					<md-chips md-autocomplete-snap md-require-match="true" md-transform-chip="initProject.transformChip($chip)" ng-model="initProject.proyecto.miembros">
						<md-autocomplete md-item-text="item.nombre" md-items="item in initProject.querySearch(initProject.searchText)" md-search-text="initProject.searchText" md-selected-item="initProject.selectedItem" placeholder="Participante">
							<span md-highlight-text="initProject.searchText">{{item.login}}, {{item.nombre}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.nombre}}</strong>
								<em>({{$chip.login}})</em>
							</span>
						</md-chip-template>
					</md-chips>
					<br/>
					<table width="100%" class="mdl-data-table">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Usuario</th>
								<th class="mdl-data-table__cell--non-numeric">Rol (categoria)</th>
								<th class="mdl-data-table__cell--non-numeric">% de participación</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="miembro in initProject.proyecto.miembros">
								<td class="mdl-data-table__cell--non-numeric">
									{{miembro.nombre}} ({{miembro.login}})
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<md-select ng-model="miembro.rol" required>
										<md-option ng-repeat="rol in initProject.roles" value="{{rol.rol}}">
											{{rol.rol}} ({{rol.categoria}})
										</md-option>
									</md-select>
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<md-input-container>
										<input ng-model="miembro.porcentaje" type="number" min="0" max="100" required ng-init="miembro.porcentaje=100" style="text-align:right"/>
									</md-input-container>
								</td>
							</tr>
						</tbody>
					</table>
				</md-card-content>
			</md-card>

			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">3. Subir plan de proyecto.</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p>Asegúrate de que subes un fichero pdf. Cualquier otro formato no será válido.</p>
				</md-card-content>
				<md-card-actions layout-align="start center" layout="row">
					<md-button class="md-raised md-primary" ngf-select ngf-accept="application/pdf" ng-model="initProject.proyecto.plan" ngf-max-size="20MB" required>Subir plan de proyecto</md-button>
					<span ng-bind="initProject.proyecto.plan.name" style="padding-left: 12px;"></span>
				</md-card-actions>
			</md-card>
			<!--section layout-align="end center" layout-wrap layout="row">
				<md-button class="md-raised md-primary" type="submit">Guardar configuración</md-button>
			</section-->
		</form>
      </md-tab-body>
    </md-tab>
    <md-tab id="paso2">
      <md-tab-label>Actividades</md-tab-label>
      <md-tab-body>
        <!-- TODO -->
			<div ng-include="'vistas/create_activity.html'"></div>
		<!-- TODO -->
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>

<div class="md-padding" layout="row" layout-sm="row" layout-align="center center" style="padding-top: 0;">
	<md-button class="md-raised" ng-click="initProject.back()">Cancelar</md-button>
	<md-button class="md-raised md-primary" ng-click="initProject.save()" ng-disabled="!initProject.sinErrores">Guardar configuración</md-button>
</div>
