<div ng-if="!project.project.inicio">
        <ui-view />
</div>

<div ng-if="project.project.inicio" layout-margin>
        <h1 class="md-display-1">{{project.project.nombre}}</h1>
        <!--
        <section>
		<p class="md-headline">Informes disponibles</p>
		<div layout="row" ng-show="project.trabajador && project.trabajador.categoria == 1">
			<!-- Informes para el jefe de proyecto --><!--
			<md-button class="md-raised">Actividades de trabajadores por semanas</md-button>
			<md-button class="md-raised">Resumen de proyecto</md-button>
		</div>
		<div layout="row" layout-align="start center" ng-hide="project.trabajador && project.trabajador.categoria == 1">
			<!-- Informes para el resto de desarrolladores --><!--
			<md-button class="md-raised">Resumen de proyecto</md-button>
		</div>
	</section>
        -->
        <section>
        	<p class="md-headline">Detalles del proyecto</p>
		<div layout-align="start center" layout="row">
			<md-button class="md-raised" href="/project/{{project.project.id}}/plan">Descargar plan de proyecto</md-button>
			<md-button class="md-raised" ng-if="!project.project.finReal && project.activas.length === 0" ng-click="project.closeProject()">Cerrar el proyecto</md-button>
		</div>
	</section>
	<section ng-if="!project.project.finReal">
		<p class="md-headline">Actividades activas</p>
		<p class="md-subhead">Consultar e introducir datos de trabajo en actividades abiertas.</p>
		<div layout-align="center center">
			<lista-actividades  ng-if="project.activas.length > 0" actividades="project.activas"></lista-actividades>
			<p ng-if="project.activas.length === 0" layout-padding>No quedan actividades por realizar. El proyecto puede ser cerrado.</p>
		</div>
	</section>
	<section>
		<p class="md-headline">Actividades cerradas</p>
		<p class="md-subhead">Consultar datos sobre actividades finalizadas</p>
		<div layout-align="center center">
			<lista-actividades ng-if="project.cerradas.length > 0" actividades="project.cerradas"></lista-actividades>
			<p ng-if="project.cerradas.length === 0" layout-padding>No hay ninguna actividad cerrada por el momento</p>
		</div>
	</section>
	<ui-view />
</div>
