<div layout-align="center center" layout="row">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon>date_range</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Calendario personal</span>
                <span class="md-subhead">Selecciona tus fechas de vacaciones.</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ui-sref="app.user.calendar">Acceder</md-button>
        </md-card-actions>
    </md-card>
</div>

<section layout-padding>
	<h3 class="md-display-1">Proyectos activos</h3>
	<md-content layout="row" layout wrap>
		<span ng-show="user.proyectosActivos.length == 0">No hay proyectos activos.</span>
		<tarjeta-proyecto flex="33" ng-repeat="proyecto in user.proyectosActivos | orderBy:'-inicioReal'" proyecto="proyecto"></tarjeta-proyecto>
	</md-content>

	<h3 class="md-display-1">Proyectos aún no iniciados</h3>
	<md-content layout-wrap layout="row">
		<span ng-show="user.proyectosNoIniciados.length == 0">No hay proyectos no iniciados.</span>
		<tarjeta-proyecto flex="33" ng-repeat="proyecto in user.proyectosNoIniciados | orderBy:'-inicio'" proyecto="proyecto"></tarjeta-proyecto>
	</md-content>

	<h3 class="md-display-1">Proyectos antiguos</h3>
	<md-input-container class="md-icon-float md-block" ng-show="user.proyectosAntiguos.length > 0" flex="100">
		<label>Filtro por nombre</label>
		<md-icon>search</md-icon>
		<input ng-model="user.filtroAntiguos.nombre" type="text">
	</md-input-container>
	<md-content layout-wrap layout="row">
		<span ng-show="user.proyectosAntiguos.length == 0">No hay proyectos antiguos.</span>
		<tarjeta-proyecto flex="33" ng-repeat="proyecto in user.proyectosAntiguos | filter:user.filtroAntiguos | orderBy:'-finReal'" proyecto="proyecto"></tarjeta-proyecto>
	</md-content>

</section>
