<div layout-padding layout-align="start center" layout="row">
	<h1>Bienvenido,	{{app.user.nombre}}</h1>
</div>
<section layout-align="center center" layout="row">
	<md-card flex=50>
		<md-card-header>
			<md-card-avatar>
				<md-icon>person_add</md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">Crear usuario</span>
				<span class="md-subhead">Crea un usuario en la plataforma GTPROS.</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ui-sref="app.admin.createUser">Crear</md-button>
		</md-card-actions>
	</md-card>
	<md-card flex=50>
		<md-card-header>
			<md-card-avatar>
				<md-icon>create_new_folder</md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">Crear proyecto</span>
				<span class="md-subhead">Crea un proyecto en la plataforma GTPROS.</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ui-sref="app.admin.createProject">Crear</md-button>
		</md-card-actions>
	</md-card>
</section>
<section layout="row" layout-align="center-center">
	<md-card flex=50>
		<md-card-header>
			<md-card-avatar>
				<md-icon>settings</md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">Configuración</span>
				<span class="md-subhead">Cambia las opciones de la plataforma.</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ui-sref="app.admin.config">Configurar</md-button>
		</md-card-actions>
	</md-card>
	<md-card flex=50>
		<md-card-header>
			<md-card-avatar>
				<md-icon>grid_on</md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">Tabla de roles</span>
				<span class="md-subhead">Añade la tabla de roles que determina los roles que pueden formar parte de un proyecto.</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-actions layout-align="end center" layout="row">
			<md-button class="md-primary" ui-sref="app.admin.roles">Añadir</md-button>
		</md-card-actions>
	</md-card>
</section>
