<div layout-align="center center" layout="row">
    <md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Modificar la configuración de GTPROS</span>
			</md-card-title-text>
		</md-card-title>
        <form ng-submit="admin.setConfig()">
            <md-card-content>
                <md-input-container class="md-block">
                    <label>Número máximo de proyectos por usuario</label>
                    <input required ng-model="admin.max_projects" type="number" min="1" style="text-align:right"/>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout-align="end center" layout="row">
                <md-button type="submit">Actualizar</md-button>
            </md-card-actions>
        </form>
	</md-card>
</div>