<div flex-offset="10">
    <h1>Crear Proyecto:</h1>
</div>
<div layout-align="center center">
    <md-card flex="80" flex-offset="10">
        <md-card-header>
            <md-card-avatar>
                <h2>1.</h2>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Elige un nombre:</span>
                <span class="md-subhead">Debe ser único e identificar adecuadamente el contenido.</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="row" layout-align="center center">
            <md-input-container class="md-icon-float md-block">
                <label>Nombre</label>
                <input required ng-model="createProject.projectName" type="text"/>
            </md-input-container>
        </md-card-content>
    </md-card>

    <md-card flex="80" flex-offset="10">
        <md-card-header>
            <md-card-avatar>
                <h2>2.</h2>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Seleccionar jefe de proyecto:</span>
                <span class="md-subhead">Sólo se podrán seleccionar los empleados que no superen el límite de proyectos activos con el rol de Jefe de Proyecto.</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="row" layout-align="center center">
            <md-input-container>
                <label>Jefe de proyecto</label>
                <md-select ng-model="createProject.jefe">
                    <md-option ng-disabled="!createProject.canBeJP(item)" ng-value="item.login" ng-repeat="item in createProject.jefesProyecto track by item.login">
                        {{item.login}} - {{item.nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-card-content>
    </md-card>

    <div flex-offset="10">
        <md-button class="md-raised md-primary" ng-click="createProject.crear()">Crear</md-button>
    </div>
</div>
