<div layout-align="center center" layout="row">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Crear usuario en GTPROS</span>
			</md-card-title-text>
		</md-card-title>
		<form ng-submit="createUser.create()">
			<md-card-content>
				<md-input-container class="md-icon-float md-block">
					<label>Nombre completo</label>
					<md-icon>person</md-icon>
					<input ng-model="createUser.nombre" type="text"/>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Usuario</label>
					<md-icon>person</md-icon>
					<input ng-model="createUser.login" type="text"/>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Contraseña</label>
					<md-icon>lock</md-icon>
					<input ng-model="createUser.pass" type="password"/>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Repite la contraseña</label>
					<md-icon>lock</md-icon>
					<input ng-model="createUser.passRepeat" type="password"/>
				</md-input-container>
			</md-card-content>
			<md-card-actions layout-align="end center" layout="row">
				<md-button ui-sref="app.admin.main">Cancelar</md-button>
				<md-button type="submit">Crear</md-button>
			</md-card-actions>
		</form>
	</md-card>
</div>
