<div layout-align="center center" layout="row">
    <md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Modificar la tabla de Roles</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-input-container class="md-block">
				<section layout="row" layout-align="space-around center">
					<md-button ng-click="roles.borrar()" class="md-raised md-primary">Usar tabla por defecto</md-button>
					<md-button type="file" ngf-select="roles.cargar($file)" accept=".csv" ngf-max-size="1MB" class="md-raised md-primary">Subir nueva tabla</md-button>
				</section>
			</md-input-container>
				<p layout-padding>
					La tabla será un archivo en formato CSV con dos columnas con nombre
					<code>rol</code> y <code>categoria</code>, siendo los valores de
					<code>rol</code> únicos y los valores de <code>categoria</code> numéricos.
				</p>
				<p layout-padding>
					Los efectos de cambiar la tabla solo se reflejarán en proyectos creados
					después de cambiarla.
				</p>
		</md-card-content>
	</md-card>
</div>